@using PosseCadre.Managers.CustomHtmlHelper
<div class="">
    <div class="row">
        <div class="col-xs-12 container">
            <div id="aboutSecSlider" class="fadeInDown animated" style="height:400px; width:100%; padding-bottom:40px; padding:2px; display:none">
                <div class="" style="height:100%; overflow-wrap:normal;overflow:hidden">

                    <div id="owl-cont" class="aboutPosseCadre " style="" data-wow-offset=" 10">

                        <!-- begin single item -->
                        <div class="ontopcontainer" style="align-content:center; text-align:center;">
                            <div class="ontoptransparency">
                                @Html.Image("p2.png", "sliderimages")
                            </div>
                            <div class="ontopcontent">
                                @Html.Image("image15.png", "sliderimages")
                            </div>

                        </div>
                        <!-- end single item -->
                        <!-- begin single item -->
                        <div class="ontopcontainer" style="align-content:center;text-align:center">
                            <div class="ontoptransparency">
                                @Html.Image("p2.png", "sliderimages")
                            </div>
                            <div class="ontopcontent">
                                @Html.Image("image15.png", "sliderimages")
                            </div>
                        </div>
                        <!-- end single item -->
                        <!-- begin single item -->
                        <div class="ontopcontainer" style="align-content:center;text-align:center">
                            <div class="ontoptransparency">
                                @Html.Image("p2.png", "sliderimages")
                            </div>
                            <div class="ontopcontent">
                                @Html.Image("image15.png", "sliderimages")
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    
    <div class="row">
        <div id="aboutSecText" class="col-md-12 fadeInUp animated" style="display:none">
            <div class="col-xs-12 aboutListCont" style="">
                <ul class="aboutList">
                    <li>We are a <b>scrum-driven team</b> of wonderful system development enthusiasts.</li>
                    <li>We provide <b>software development</b> services in both <b>mobile and desktop</b> platforms.</li>
                    <li>Our services range from the development of a basic static personal <b>website</b> to multi layered  <b>business process automation.</b></li>
                    <li>We are based in <b>Cape Town</b> South Africa. Howsoever, our services are available beyond the boundaries of Western Cape. </li>
                    <li><b>Innovation</b> is at the crux of our mindset, perpetually applied when we prepare your <b>solution.</b></li>
                    <li>Our <b>specialties</b> include these categories</li>
                </ul>
            </div>
            <div class="col-md-3" style="padding:5px;">
                <div class="circle" style="">
                    <p>Software</p><spna>Development</spna>
                </div>
            </div>
            <div class="col-md-3" style="padding:5px;">
                <div class="circle">
                    <p>System</p><spna>Modelling</spna>
                </div>
            </div>
            <div class="col-md-3" style="padding:5px;">
                <div class="circle">
                    <p>Quality</p><span>Assurance</span>
                </div>
            </div>
            <div class="col-md-3" style="padding:5px;">
                <div class="circle">
                    <p>Mobile apps</p><span>Development</span>
                </div>
            </div>
        </div>
    </div>
  
</div>