@using PosseCadre.Managers.CustomHtmlHelper
<div class="">
    <div class="row">
        <div class="col-xs-12 container">
            <div style="height:400px; width:100%; padding-bottom:40px; padding:2px; ">
                <div class="" style="height:100%; overflow-wrap:normal;overflow:hidden">
                   
                    <div id="owl-cont" class="aboutPosseCadre  fadeInUp"  data-wow-offset=" 10">

                        <!-- begin single item -->
                        <div class="ontopcontainer" style="align-content:center; text-align:center;">
                            <div class="ontoptransparency">
                               @Html.Image("p2.png", "sliderimages")
                            </div>
                            <div class="ontopcontent">
                                @Html.Image("image15.png", "sliderimages")
                            </div>

                        </div>
                        <!-- end single item -->

                        <!-- begin single item -->
                        <div class="ontopcontainer" style="align-content:center;text-align:center">
                            <div class="ontoptransparency">
                                @Html.Image("p2.png", "sliderimages")
                            </div>
                            <div class="ontopcontent">
                                @Html.Image("image15.png", "sliderimages")
                            </div>
                        </div>
                        <!-- end single item -->

                        <!-- begin single item -->
                        <div class="ontopcontainer" style="align-content:center;text-align:center">
                            <div class="ontoptransparency">
                                @Html.Image("p2.png", "sliderimages")
                            </div>
                            <div class="ontopcontent">
                                @Html.Image("image15.png", "sliderimages")
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>