@using PosseCadre.Managers.CustomHtmlHelper
<div class="">
    <div class="row">
        <div class="col-xs-12 container">
            <div style="height:400px; width:100%; padding-bottom:40px; padding:2px; ">
                <div class="" style="height:100%; overflow-wrap:normal;overflow:hidden">
                   
                    <div id="owl-cont" class="aboutPosseCadre  fadeInUp"  data-wow-offset=" 10">

                        <!-- begin single item -->
                        <div class="ontopcontainer" style="align-content:center; text-align:center;">
                            <div class="ontoptransparency">
                                @Html.Image("p2.png", "sliderimages")
                            </div>
                            <div class="ontopcontent">
                                @Html.Image("image15.png", "sliderimages")
                            </div>

                        </div>
                        <!-- end single item -->

                        <!-- begin single item -->
                        <div class="ontopcontainer" style="align-content:center;text-align:center">
                            <div class="ontoptransparency">
                                @Html.Image("p2.png", "sliderimages")
                            </div>
                            <div class="ontopcontent">
                                @Html.Image("image15.png", "sliderimages")
                            </div>
                        </div>
                        <!-- end single item -->

                        <!-- begin single item -->
                        <div class="ontopcontainer" style="align-content:center;text-align:center">
                            <div class="ontoptransparency">
                                @Html.Image("p2.png", "sliderimages")
                            </div>
                            <div class="ontopcontent">
                                @Html.Image("image15.png", "sliderimages")
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-12 aboutListCont" style="">
                <ul class="aboutList">
                    <li>We are a scrum-driven team of wonderful system development enthusiasts.</li>
                    <li>We provide software development services in both mobile and desktop platforms.</li>
                    <li>Our services range from the development of a basic static personal website to multi layered business process automation</li>
                    <li>We are based in Cape Town South Africa. Howsoever, our services are available beyond the boundaries of Western Cape. </li>
                    <li>Innovation is at the crux of our mindset, perpetually applied when we prepare your solution</li>
                    <li>Our specialties include these categories</li>
                </ul>
            </div>
            <div class="col-md-3" style="padding:5px;">
                <div class="circle" style="">
                    <p>Software</p><spna>Devlopment</spna>
                </div>
            </div>
            <div class="col-md-3" style="padding:5px;">
                <div class="circle">
                    <p>System</p><spna>Modelling</spna>
                </div>
            </div>
            <div class="col-md-3" style="padding:5px;">
                <div class="circle">
                    <p>Quality</p><span>Assurance</span>
                </div>
            </div>
            <div class="col-md-3" style="padding:5px;">
                <div class="circle">
                    <p>Mobile apps</p><span>Development</span>
                </div>
            </div>
        </div>
    </div>
  
</div>