@{
    ViewBag.Title = "PosseCadre";
}


<!--ABOUT US SECTION-->
<section id="about" class="container secwrapper">
    <div class="row">
        <div class="col-sm-12 seccontainor">
            @Html.Partial("~/Views/Home/_aboutsection.cshtml")
        </div>
    </div>
</section>

<!--SERVICES SECTION-->
<section id="services" class="container secwrapper">
    <div class="row sec">
        <div class="col-sm-12 seccontainor sec">
            @Html.Partial("~/Views/Home/_servicessection.cshtml")
        </div>
    </div>
</section>

<!--OUR EXPERTISE SECTION-->
<section id="expertise" class="container secwrapper">
    <div class="row sec">
        <div class="col-sm-12 seccontainor sec">
            @Html.Partial("~/Views/Home/_expertisesection.cshtml")
        </div>
    </div>
</section>


<!--OUR WORK SECTION-->
<section id="work" class="container secwrapper">
    <div class="row sec">
        <div class="col-sm-12 seccontainor sec">
            @Html.Partial("~/Views/Home/_worksection.cshtml")
        </div>
    </div>
</section>

<!--CONTACT U SECTION-->
<section id="contacts" class="container secwrapper">
    <div class="row" style="height:inherit">
        <div class="col-sm-12 seccontainor sec">
            @Html.Partial("~/Views/Home/_contactssection.cshtml")
        </div>
    </div>
</section>

@section myscripts{

    <script type="text/javascript">
       

    </script>
}